<!DOCTYPE html>
<html lang="en">
<head>
    <title>Network Graph</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vCard template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
    <link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/main_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
<style>
.table th, .table td{
      padding: 0 10px;
    }
    .main_nav{
        text-align:center;
    }
    </style>
</head>
<body>

<div class="controls">
    <div class="force alpha">
        <p><label>alpha</label> Simulation activity</p>
        <div class="alpha_bar" onclick="updateAll();">
            <div id="alpha_value"></div>
        </div>
    </div>
    <div class="force">
        <p><label>center</label> Shifts the view, so the graph is centered at this location.</p>
        <label>
            x
            <output id="center_XSliderOutput">.5</output>
            <input type="range" min="0" max="1" value=".5" step="0.01"
                   oninput="d3.select('#center_XSliderOutput').text(value); forceProperties.center.x=value; updateAll();">
        </label>
        <label>
            y
            <output id="center_YSliderOutput">.5</output>
            <input type="range" min="0" max="1" value=".5" step="0.01"
                   oninput="d3.select('#center_YSliderOutput').text(value); forceProperties.center.y=value; updateAll();">
        </label>
    </div>

    <div class="force">
        <p><label><input type="checkbox" checked onchange="forceProperties.charge.enabled = this.checked; updateAll();">
            charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
        <label title="Negative strength repels nodes. Positive strength attracts nodes.">
            strength
            <output id="charge_StrengthSliderOutput">-30</output>
            <input type="range" min="-200" max="50" value="-30" step=".1"
                   oninput="d3.select('#charge_StrengthSliderOutput').text(value); forceProperties.charge.strength=value; updateAll();">
        </label>
        <label title="Minimum distance where force is applied">
            distanceMin
            <output id="charge_distanceMinSliderOutput">1</output>
            <input type="range" min="0" max="50" value="1" step=".1"
                   oninput="d3.select('#charge_distanceMinSliderOutput').text(value); forceProperties.charge.distanceMin=value; updateAll();">
        </label>
        <label title="Maximum distance where force is applied">
            distanceMax
            <output id="charge_distanceMaxSliderOutput">2000</output>
            <input type="range" min="0" max="2000" value="2000" step=".1"
                   oninput="d3.select('#charge_distanceMaxSliderOutput').text(value); forceProperties.charge.distanceMax=value; updateAll();">
        </label>
    </div>

    

    <div class="force">
        <p><label><input type="checkbox" checked onchange="forceProperties.link.enabled = this.checked; updateAll();">
            link</label> Sets link length</p>
        <label title="The force will push/pull nodes to make links this long">
            distance
            <output id="link_DistanceSliderOutput">30</output>
            <input type="range" min="0" max="100" value="30" step="1"
                   oninput="d3.select('#link_DistanceSliderOutput').text(value); forceProperties.link.distance=value; updateAll();">
        </label>
        <label title="Higher values increase rigidity of the links (WARNING: high values are computationally expensive)">
            iterations
            <output id="link_IterationsSliderOutput">1</output>
            <input type="range" min="1" max="10" value="1" step="1"
                   oninput="d3.select('#link_IterationsSliderOutput').text(value); forceProperties.link.iterations=value; updateAll();">
        </label>
    </div>
</div>

<div class="container-fluid">
        <div class="">
                <header class="header">
                    <div class="">
                        <div class="main_nav ">
                            <ul class="graph-nav">
                                <li class="">
                                    <a class="nav-item nav-link" href="/stackoverflowvis/about">Home</a>
                                </li>
                                <li class="">
                                    <a class="nav-item nav-link" href="#" data-target="graph-2014-2015.json" >2014 - 2015</a>
                                </li>
                                <li class="">
                                    <a class="nav-item nav-link" href="#" data-target="graph-2016-2017.json" >2016 - 2017</a>
                                </li>
                                <li class="">
                                    <a class="nav-item nav-link" href="#" data-target="graph-2018-2019.json" >2018 - 2019</a>
                                </li>
                                <!-- <li class="">
                                    <a class="nav-item nav-link" href="#" data-target="post-small-2018-2019.json">Detection</a>
                                </li>
                                <li class="">
                                    <a class="nav-item nav-link" href="#" data-target="5.json">Description</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </header>
                
        </div>

        <div class="row mb-4 mt-4">
            <div class="col-md-2">
                <div class="d-inline">
                        <p>Min</p>
                        <select id="selectMinValue" class="select-value">
                            <option value="--">--</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="1500">1500</option>
                            <option value="2000">2000</option>
                            <option value="2500">2500</option>
                        </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-inline">
                        <p>Max</p>
                        <select id="selectMaxValue" class="select-value">
                                <option value="--">--</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="1500">1500</option>
                                <option value="2000">2000</option>
                                <option value="2500">2500</option>
                        </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-inline">
                        <p>Source Node</p>
                        <select id="selectTag">
                                <option value="">--</option>
                        </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                    <svg style="height: 800;"></svg>
            </div>
            <div class="col-md-4">
                <label for="">Table limit: <input type="number" id="count" value="10"></label>
                <table class="table table-dark" id="nodesTable">
                    <tr><th>Source</th><th>Target</th><th>Count</th></tr>
                </table>
            </div>
        </div>

</div>



<script src="{% static "js/jquery-3.2.1.min.js" %}" ></script>
<script src="{% static "js/d3.v4.min.js" %}"></script>
<!--<script src="styles/bootstrap-4.1.2/popper.js"></script>-->
<!--<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>-->
<script src="{% static "js/code.js" %}"></script>
</body>
</html>
